<div style="background-color: rgb(212, 211, 211); height: 100%;" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z4" fxLayout="column" fxFlex="98" style="height: 98%; padding-bottom: 0!important;">

    <div>
      <h2>Gerenciamento de Baralhos</h2>
      <mat-divider></mat-divider>
    </div>

    <div fxLayout="row" style="height: 100%; ">

      <!-- Decks management -->
      <div fxFlex="20" style="padding-top: 12px; padding-right: 12px; border-right: solid 1px rgba(0,0,0,.13);">
        <!-- Header and add new -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h3 style="margin-bottom: 0px">Baralhos</h3>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <!-- Decks list -->
        <div *ngIf="(decks$ | async) as decks">
          <mat-card *ngFor="let deck of decks" class="mat-elevation-z8" style="margin-bottom: 6px; cursor: pointer;">
            <h3> {{deck.id}} - {{deck.name}} </h3>
            <p>{{deck.description}}</p>
            <p>Total de cartas: {{deck.cards?.length}}</p>
          </mat-card>
        </div>
      </div>

      <!-- Cards on Deck Management -->
      <div fxLayout="column" fxFlex="80" style="background-color: aqua; height: 100%; padding: 12px 0 12px 12px; ">
        <h2 style="margin-bottom: 0px;">Cartas no Baralhos</h2>
        <h4 *ngIf="!selectedDeck">Selecione um Baralho para ver detalhes de suas cartas</h4>
        <div *ngIf="selectedDeck">


        </div>
      </div>
    </div>

  </mat-card>
</div>
