<div fxLayout="column" *ngIf="deck"
  style=" height: 100%; max-height: 800px; overflow: hidden; background-color: rgb(240, 240, 240)">
  <div fxLayout='row' fxLayoutAlign="space-between">
    <div>
      <h2 style="margin-bottom: 0px;">Baralho: {{deck.name}}</h2>
      <h4>Adicione cartas para esse baralho</h4>
    </div>
    <form fxLayout="column" fxFlex="30">
      <mat-form-field fxFlex="30" class="example-full-width" appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Independencia do Brasil">
      </mat-form-field>
    </form>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="12px grid"
    style=" padding: 12px; overflow: auto;  background-color: rgb(240, 240, 240)">
    <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    <app-card *ngFor="let card of deck.cards" [card]="card"></app-card>
    <div style="width: 100%; height: 12px;"></div>
  </div>
</div>
