<mat-card *ngIf="card" class="mat-elevation-z8"  style="max-width: 300px;">

  <mat-card-header>
    <mat-card-title>{{card.name}}</mat-card-title>
    <mat-card-subtitle>{{card.date | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
  </mat-card-header>
  <img matCardImage [src]="card.image">
  <mat-card-content style="height: 100px; overflow: auto;">
    {{card.description}}
  </mat-card-content>
  <mat-card-actions *ngIf="!addMode" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-button color="primary">
      Ler mais
    </button>
    <div>
      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>

  <mat-card-actions *ngIf="addMode" fxLayout="row" fxLayoutAlign="space-between">
    <button *ngIf="!isOnDeck" mat-button color="success" (click)="addToDeck()">
      Adicionar ao Baralho
    </button>
    <button *ngIf="isOnDeck" mat-icon-button color="success">
      <mat-icon>done</mat-icon>
    </button>
    <div>
      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
