<mat-card *ngIf="card" class="mat-elevation-z8" style="height: 480px;">

  <mat-card-header>
    <mat-card-title style="min-height: 40px;">{{card.name}}</mat-card-title>
    <mat-card-subtitle>{{card.date}}</mat-card-subtitle>
  </mat-card-header>
  <img matCardImage [src]="card.image" style="height: 190px;">
  <mat-card-content style="height: 130px; overflow: auto;">
    {{card.description}}
  </mat-card-content>
  <mat-card-actions *ngIf="!addMode" fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <button mat-icon-button color="primary" (click)="edit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="removeCardFromDeck()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>

  <mat-card-actions *ngIf="addMode" fxLayout="row" fxLayoutAlign="space-between">
    <button *ngIf="!isOnDeck" mat-button color="success" (click)="addToDeck()">
      Adicionar ao Baralho
    </button>
    <button *ngIf="isOnDeck" mat-icon-button color="success">
      <mat-icon>done</mat-icon>
    </button>
    <div>
      <button mat-icon-button color="primary" (click)="edit()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
