.editable{
  border-top:none;
  border-right:none;
  border-left:none;
  outline:none;
  background:transparent;
}

:host ::ng-deep dmat-form-field .mat-form-field {
  &-underline {
    position: relative;
    bottom: auto;
  }
  &-subscript-wrapper {
    position: static;
  }
}