<div fxLayout="column">
    <h1>Regras:</h1>
    <h3>Você vence ao terminar de posicionar todas as cartas do baralho e da mão</h3>
    <h3>Você perde se atingir o limite de erros (3)</h3>
    <h3>Ao posicionar corretamente uma carta você ganha 100 pontos</h3>
    <h3>Ao posicionar corretamente você adiciona 0.25 ao multiplicador de pontos</h3>
    <h1>Como jogar:</h1>
    <h3>Selecione uma carta da mão (clicando nela)</h3>
    <h3>Tente posicionar esta carta na linha temporal, clicando no "+" entre as cartas</h3>
    <h3>Se for uma possição válida a carta será adicionada a linha do tempo</h3>
    <h3>Se erras a posição, a carta é descartada e será comprada uma nova carta</h3>
    <h3>Ao errar uma carta o acumulador de pontos volta 0</h3>
</div>