<div fxLayout="column">
    <h1>Regras:</h1>
    <h3>Você vence ao terminar de posicionar todas as cartas do baralho e da mão.</h3>
    <h3>Você perde se atingir o limite de três erros.</h3>
    <h3>Ao posicionar corretamente uma carta você ganha 100 pontos.</h3>
    <h3>Ao posicionar corretamente você adiciona 0.25 ao multiplicador de pontos. Esse multiplicador é reiniciado se você errar uma carta.</h3>
    <h1>Como jogar:</h1>
    <h3>Selecione uma carta da mão (clicando nela).</h3>
    <h3>Posicione esta carta na linha temporal, clicando no "+" entre as cartas.</h3>
    <h3>Se for uma posição válida, a carta será adicionada na linha do tempo.</h3>
    <h3>Se errar a posição, a carta é descartada e você recebe uma nova carta do baralho.</h3>
</div>
