<mat-toolbar color="primary">
  <span>Timeline Professor</span>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize style="width: 100%; height: calc(100% - 64px);">
  <mat-drawer opened class="example-sidenav" mode="side" style="min-width: 200px;">
    <mat-list role="list">
      <mat-list-item role="listitem">Baralhos</mat-list-item>
      <mat-list-item role="listitem">Cartas</mat-list-item>
      <mat-list-item role="listitem">Criar Partida</mat-list-item>
      <mat-list-item role="listitem">Jogar</mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
  </div>
</mat-drawer-container>
